---
import { Image } from "@astrojs/image/components";
---


<div>
  <form
    method="POST"
    action="https://pagos.jesusmarin.dev/api/v1/invoices"
    class="btcpay-form btcpay-form--block" >
    <input
      type="hidden"
      name="storeId"
      value="Hs832qe96tkvx24gQtLcxMSjytJxZZjhk1sBoB9qdCPQ"
    />
    <input type="hidden" name="orderId" value="donate_jmdev" />
    <input type="hidden" name="checkoutDesc" value="Donacion" />
    <div class="btcpay-custom-container">
      <div class="btcpay-custom">
        <button
          class="plus-minus"
          type="button"
          data-type="-"
          data-step="1"
          data-min={1}
          data-max={100}
        >
          -
        </button>
        <input
          class="btcpay-input-price"
          type="number"
          name="price"
          min={1}
          max={100}
          step={1}
          value={10}
          data-price={10}
          style={{ width: '2em' }}
        />
        <button
          class="plus-minus"
          type="button"
          data-type="+"
          data-step={1}
          data-min={1}
          data-max={100}
        >
          +
        </button>
      </div>
      <select name="currency" value={'USD'}>
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
        <option value="EUR">EUR</option>
        <option value="BTC">BTC</option>
      </select>
    </div>
    <input type="hidden" name="defaultPaymentMethod" value="BTC" />
    <button
      type="submit"
      class="submit"
      name="submit"
      style={{
        minWidth: '146px',
        minHeight: '40px',
        borderRadius: '4px',
        borderStyle: 'none',
        backgroundColor: '#0f3b21',
        cursor: 'pointer',
      }}
      title="Pay with BTCPay Server, a Self-Hosted Bitcoin Payment Processor"
    >
      <span style={{ color: '#fff' }}>Dona con</span>
      <Image
        src="https://pagos.jesusmarin.dev/img/paybutton/logo.svg"
        alt="BTCPay Server Logo"
        aspectRatio="1:1"
        format="svg"
        width={50}
        height={40}
        style={{
          height: '40px',
          display: 'inline-block',
          padding: '5% 0 5% 5px',
          verticalAlign: 'middle',
        }}
      />
    </button>
  </form>
</div>

<script>
  const buttons = document.querySelectorAll("button.plus-minus")
  const input = document.querySelector("input.btcpay-input-price")

  input.addEventListener('input', (e) => {
    handlePriceInput(e)
  });

  buttons.forEach((button) => {
    button.addEventListener('click', (e) => {
      handlePlusMinus(e);
    });
  });

  function handlePlusMinus(event) {
    event.preventDefault()
    const root = event.target.closest('.btcpay-form')
    const el = root.querySelector('.btcpay-input-price')
    const step = parseInt(event.target.dataset.step) || 1
    const min = parseInt(event.target.dataset.min) || 1
    const max = parseInt(event.target.dataset.max)
    const type = event.target.dataset.type
    const price = parseInt(el.value) || min
    if (type === '-') {
      el.value = price - step < min ? min : price - step
    } else if (type === '+') {
      el.value = price + step > max ? max : price + step
    }
  }

  function handlePriceInput(event) {
    event.preventDefault()
    const root = event.target.closest('.btcpay-form')
    const price = parseInt(event.target.dataset.price)
    if (isNaN(event.target.value)) {
      root.querySelector('.btcpay-input-price').value = price
    }
    const min = parseInt(event.target.getAttribute('min')) || 1
    const max = parseInt(event.target.getAttribute('max'))
    if (event.target.value < min) {
      event.target.value = min
    } else if (event.target.value > max) {
      event.target.value = max
    }
  }

</script>

<style>
  .btcpay-form { display: inline-flex; align-items: center; justify-content: center; } .btcpay-form--inline { flex-direction: row; } .btcpay-form--block { flex-direction: column; } .btcpay-form--inline .submit { margin-left: 15px; } .btcpay-form--block select { margin-bottom: 10px; } .btcpay-form .btcpay-custom-container{ text-align: center; }.btcpay-custom { display: flex; align-items: center; justify-content: center; } .btcpay-form .plus-minus { cursor:pointer; font-size:25px; line-height: 25px; background: #DFE0E1; height: 30px; width: 45px; border:none; border-radius: 60px; margin: auto 5px; display: inline-flex; justify-content: center; } .btcpay-form select { -moz-appearance: none; -webkit-appearance: none; appearance: none; color: currentColor; background: transparent; border:1px solid transparent; display: block; padding: 1px; margin-left: auto; margin-right: auto; font-size: 11px; cursor: pointer; } .btcpay-form select:hover { border-color: #ccc; } .btcpay-form option { color: #000; background: rgba(0,0,0,.1); } .btcpay-input-price { -moz-appearance: textfield; border: none; box-shadow: none; text-align: center; font-size: 25px; margin: auto; border-radius: 5px; line-height: 35px; background: #fff; }.btcpay-input-price::-webkit-outer-spin-button, .btcpay-input-price::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
</style>
